.test, .txt{
  font-family: "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
}
.test{
	width:400px;
	height:50px;
	line-height: 50px;
	background-color: #000;
	color:#fff;
	font-size: 20px;
	text-align: center;
}
.txt{
	width:400px;
	height:50px;
	line-height: 50px;
	font-size: 14px;
}
.check{
	display: inline-block;
	margin-left: 10px;
}
#checkBox{
	display: inline-block;
	width:20px;
	height:20px;
	line-height: 20px;
}
#cook{
	display: inline-block;
	width:200px;
	height:30px;
	font-size: 14px;
}
#cooks{
	color:red;
}