.test, .txt,#tag_a{
  font-family: "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
}
.test{
	width:340px;
	background-color: #000;
	color:#fff;
	text-align: center;
}
.txt{
	width:auto;
	font-size: 14px;
	display: inline-block;
	padding-left: 10px;
}
#tag_a{
    font-size: 14px;
    padding-left: 10px;
}
#cook{
	display: inline-block;
	width:200px;
	height:30px;
	font-size: 14px;
}
#p{
	display: none;
}
.container{
	width:50px;
	height:25px;
	display: inline-block;
    margin-left: 150px;
}
.switch{   
    display:none;   
}
.bg_con{
	margin-top: 9px;
}  
label{   
    position:relative;   
    display: block;   
    padding: 1px;   
    border-radius: 24px;   
    height: 22px;   
    margin-bottom: 15px;   
    background-color: #eee;   
    cursor: pointer;   
    vertical-align: top;   
    -webkit-user-select: none;   
}   
label:before{   
    content: '';   
    display: block;   
    border-radius: 24px;   
    height: 22px;   
    background-color: white;   
    -webkit-transform: scale(1, 1);   
    -webkit-transition: all 0.3s ease;   
}   
label:after{   
    content: '';   
    position: absolute;   
    top: 50%;     
    left: 50%;     
    margin-top: -11px;     
    margin-left: -11px;   
    width: 22px;   
    height: 22px;   
    border-radius: 22px;   
    background-color: white;   
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.08);   
    -webkit-transform: translateX(-9px);   
    -webkit-transition: all 0.3s ease;   
}   
.switch:checked~label:after{   
    -webkit-transform: translateX(9px);   
}   
.switch:checked~label:before{   
    background-color:green;   
} 